@font-face {
  font-family: "General Sans";
  src: url("General Sans-Italic.eot");
  src: local("General Sans Italic"), local("General Sans-Italic"),
    url("General Sans-Italic.eot?#iefix") format("embedded-opentype"),
    url("General Sans-Italic.woff2") format("woff2"),
    url("General Sans-Italic.woff") format("woff"),
    url("General Sans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("General Sans-Black.eot");
  src: local("General Sans Black"), local("General Sans-Black"),
    url("General Sans-Black.eot?#iefix") format("embedded-opentype"),
    url("General Sans-Black.woff2") format("woff2"),
    url("General Sans-Black.woff") format("woff"),
    url("General Sans-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("General Sans-BlackItalic.eot");
  src: local("General Sans Black Italic"), local("General Sans-BlackItalic"),
    url("General Sans-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("General Sans-BlackItalic.woff2") format("woff2"),
    url("General Sans-BlackItalic.woff") format("woff"),
    url("General Sans-BlackItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("General Sans-Regular.eot");
  src: local("General Sans Regular"), local("General Sans-Regular"),
    url("General Sans-Regular.eot?#iefix") format("embedded-opentype"),
    url("General Sans-Regular.woff2") format("woff2"),
    url("General Sans-Regular.woff") format("woff"),
    url("General Sans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("General Sans-LightItalic.eot");
  src: local("General Sans Light Italic"), local("General Sans-LightItalic"),
    url("General Sans-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("General Sans-LightItalic.woff2") format("woff2"),
    url("General Sans-LightItalic.woff") format("woff"),
    url("General Sans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("General Sans-Medium.eot");
  src: local("General Sans Medium"), local("General Sans-Medium"),
    url("General Sans-Medium.eot?#iefix") format("embedded-opentype"),
    url("General Sans-Medium.woff2") format("woff2"),
    url("General Sans-Medium.woff") format("woff"),
    url("General Sans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("General Sans-BoldItalic.eot");
  src: local("General Sans Bold Italic"), local("General Sans-BoldItalic"),
    url("General Sans-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("General Sans-BoldItalic.woff2") format("woff2"),
    url("General Sans-BoldItalic.woff") format("woff"),
    url("General Sans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("General Sans-Bold.eot");
  src: local("General Sans Bold"), local("General Sans-Bold"),
    url("General Sans-Bold.eot?#iefix") format("embedded-opentype"),
    url("General Sans-Bold.woff2") format("woff2"),
    url("General Sans-Bold.woff") format("woff"),
    url("General Sans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("General Sans-Light.eot");
  src: local("General Sans Light"), local("General Sans-Light"),
    url("General Sans-Light.eot?#iefix") format("embedded-opentype"),
    url("General Sans-Light.woff2") format("woff2"),
    url("General Sans-Light.woff") format("woff"),
    url("General Sans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("General Sans-MediumItalic.eot");
  src: local("General Sans Medium Italic"), local("General Sans-MediumItalic"),
    url("General Sans-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("General Sans-MediumItalic.woff2") format("woff2"),
    url("General Sans-MediumItalic.woff") format("woff"),
    url("General Sans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
