@font-face {
    font-family: 'Satoshi';
    src: local('Satoshi Black'), local('Satoshi-Black'),
        url('Satoshi-Black.woff2') format('woff2'),
        url('Satoshi-Black.woff') format('woff'),
        url('Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }