.aboutUs__hero {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutUs__head {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;


  text-align: center;

  color: #8c8c8c;
  margin-bottom: 3rem;
}

.aboutUs__title {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 131px;
  /* identical to box height */

  text-align: center;

  /* Text colour */

  color: #111111;
  margin-bottom: 9rem;
}
.aboutUs__body {
  margin-bottom: 26.3rem;
}
.aboutUs__body-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}

.aboutUs__body-1 img {
  width: 399px;
  height: 442px;
}

.aboutUs__body-1-text {
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutUs__body-1-text h2 {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #111111;
}

.aboutUs__body-1-text p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: -0.04em;

  /* Text colour */

  color: #111111;
}
