.loanOffer__hero {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loanOffer__head {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: var(--light-gray);
  text-align: center;
  margin-bottom: 3rem;
}
.loanOffer__title {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  color: var(--black);
  width: 517px;
  margin-bottom: 7rem;
  width: 596px;
  height: 262px;
}
.loanOffer__body-1 {
  margin-bottom: 3rem;
}
.loanOffer__1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.loanOffer__1-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 24px;
  gap: 5rem;
  background: #d9ffd3;

  padding: 3rem 5rem 0rem 5rem;
}
.loanOffer__1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.loanOffer__1-head {
  width: 390px;
  height: 120px;
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  /* or 60px */
  letter-spacing: -0.04em;
  /* Text colour */
  color: black;
}
.loanOffer__1-body {
  width: 410px;
  height: 72px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  letter-spacing: -0.04em;
  /* Text colour */
  color: black;
}

.loanOffer__1-wrapper img {
  width: 383px;
  height: 410px;
}

.loanOffer__body-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 12rem;
}
.loanOffer__body-2__content-1 {
  padding: 2rem 2rem 0rem 2rem;
  background: #fad3ff;

  border-radius: 24px;
  width: 492px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.loanOffer__body-2__content-1-head {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 133%;
  width: 393px;
}
.loanOffer__body-2__content-1-body {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* or 24px */
  width: 390px;
  letter-spacing: -0.04em;
}
.loanOffer__body-2__content-1 img {
  width: 383px;
  height: 350px;
}

.loanOffer__body-2__content-2 {
  padding: 2rem 2rem 0rem 2rem;
  background: #ffd5d3;

  border-radius: 24px;
  width: 492px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.loanOffer__body-2__content-2-head {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 133%;
  width: 393px;
}
.loanOffer__body-2__content-2-body {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* or 24px */
  width: 390px;
  letter-spacing: -0.04em;
}
.loanOffer__body-2__content-2 img {
  width: 383px;
  height: 350px;
}
.loanoffer-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 25px;
  width: 140px;
  height: 55px;
  background: var(--purple);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 676px) {
  .loanOffer__title {
    font-family: "Recoleta Alt";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: var(--black);
    margin-bottom: 6rem;
    width: 269px;
    height: 108px;
  }
  /* .loanOffer__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */

  .loanOffer__1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border-radius: 24px;
    gap: 0rem;
    background: #d9ffd3;
    padding: 3.5rem 0rem 0rem 0rem;
    width: 366px;
  }
  .loanOffer__1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 1.5rem;
    /* align-items: center; */
    height: 200px;
  }

  .loanOffer__1-head {
    width: 265px;
    height: 96px;
    font-family: "Recoleta Alt";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */

    letter-spacing: -0.04em;

    /* Text colour */

    color: var(--black);
  }

  .loanOffer__1-body {
    width: 305px;
    height: 63px;

    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: -0.04em;

    /* Text colour */

    color: var(--black);
  }
  .mobile-loanoffer-button__container {
    position: relative;
    top: 15rem;
    padding: 17px 25px;
    width: 140px;
    height: 55px;
    background: var(--purple);
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }

  .loanOffer__1-wrapper img {
    width: 275px;
    height: 300px;
  }
  .loanOffer__1-wrapper-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .loanOffer__body-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    margin-bottom: 32rem;
    align-items: center;
  }

  .loanOffer__body-2__content-1 {
    padding: 1.5rem 0rem 0rem 0rem;
    /* background: #fad3ff; */
    border-radius: 24px;
   
    width: 366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .loanOffer__body-2__content-1-head {
    width: 366px;
    /* height: 64px; */
    
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    /* or 32px */
    padding: 0rem .5rem;
    /* Text colour */

    color: var(--black);
  }

  .loanOffer__body-2__content-1-body {
    width: 348px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    letter-spacing: -0.04em;
    /* Text colour */
    color: var(--black);
  }

  .loanOffer__body-2__content-1 img {
    width: 346px;
    height: 305px;
  }

  .loanOffer__body-2__content-2 {
    padding: 2rem 0rem 0rem 0rem;
    background: #ffd5d3;
    border-radius: 24px;
    width: 366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .loanOffer__body-2__content-2-head {
    width: 364px;

    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    /* or 32px */

    /* Text colour */

    color: var(--black);
  }

  .loanOffer__body-2__content-2-body {
    width: 348px;

    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: -0.04em;

    /* Text colour */

    color: var(--black);
  }

  .loanOffer__body-2__content-2 img {
    width: 366px;
    height: 310px;
  }
}
