/* .highlight__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1040px;
  height: 483px;
  margin-top: 4rem;
  gap: 8rem;
} */
.hightlight__frame {
  width: 473px;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hightlight__frame img {
  width: 373px;
}
.highlight__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 410px;
}
.highlight__body {
  max-width: 410px;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: var(--black);
}
.highlight__title {
  max-width: 315px;
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: var(--black);
}

@media screen and (max-width: 778px) {
  .hightlight__frame {
    width: 366px;
    height: 390px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hightlight__frame img {
    width: 310px;
  }
  .highlight__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 366px;
    width: 100%;
    /* height: 86px; */
    /* padding: 0rem 1rem; */
  }

  .highlight__body {
    max-width: 366px;
    width: 100%;
    /* height: 42px; */
    font-family: "General Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.04em;
    color: var(--black);
  }
  .highlight__title {
    max-width: 271px;
    width: 100%;
    /* height: 36px; */
    font-family: "Recoleta Alt";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--black);
  }
}
