.company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.company__container {
  animation: fadeIn 1s forwards;
  display: flex;
  flex-direction: row;
  height: 0px;
  padding: 0rem 0rem 0rem 3rem;
  z-index: 1;
  position: absolute;
  top: 7rem;
  width: 280px;
  height: 330px;
  border-radius: 2rem;
  background-color: white;
  opacity: 0;
}
.company__content-1 {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  gap: 2rem;
}
.company__content-link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  /* Text colour */

  color: #111111;
}
