.company {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.company__container {
  animation: fadeIn 0s forwards;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  height: 0px;
  padding: 0rem 7.5rem 0rem 2.5625rem;
  z-index: 1;
  position: absolute;
  top: 9rem;
  height: 330px;
  border-radius: 2rem;
  background-color: white;
  opacity: 0;
}
.company__content-1 {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  gap: 2rem;
}
.company__content-link {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  /* Text colour */

  color: var(--black);
}
