.company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.company__container {
  animation: fadeIn 1s forwards;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 0px;
  padding: 0rem 0rem;
  z-index: 1;
  position: absolute;
  top: 7rem;
  width: 20%;
  height: 44vh;
  border-radius: 2rem;
  background-color: white;
  opacity: 0;
}
.company__content-1 {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
