* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.download {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.download__overlay {
  width: 1042px;
  height: 380px;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 0.77),
    rgba(17, 17, 17, 0.77)
  );
  border-radius: 20px;
  z-index: 10;
}
.download-container {
  background: rgba(128, 3, 205, 1);
  width: 1042px;
  height: 380px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.download__image {
  width: 1042px;
  height: 380px;
  position: absolute;
  display: fixed;
  top: 0px;
  background-image: url(../Home/Images/liquid18.png);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 800px 800px;
  left: 400px;
}

.download-container-title {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  position: relative;
  color: white;
  margin-top: 6rem;
  /* bottom: 200px; */
  /* width: 100%; */
  /* left: -20px; */
  z-index: 10;
}
.download-button {
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  z-index: 10;
}
.download__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  position: absolute;
}

.download__button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  gap: 16px;
  width: 195px;
  height: 66px;
  border-radius: 30px;
}
.download__button-text {
  width: 100px;
  height: 32px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 117%;
  text-align: left;
}

@media screen and (max-width: 676px) {
  .download-container {
    background: rgba(128, 3, 205, 1);
    width: 1042px;
    height: 422px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* text-align: center; */
    /* align-content: center; */
  }
  .mobile-download__overlay {
    width: 1042px;
    height: 422px;
    border-radius: 50px;
    position: absolute;
    background: linear-gradient(
      0deg,
      rgba(17, 17, 17, 0.77),
      rgba(17, 17, 17, 0.77)
    );

    z-index: 10;
  }
  .download {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 4.4rem 1rem;
  }

  .download-container-title {
    height: 72px;
    font-family: "Recoleta Alt";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .download__image {
    height: 1000px;
    width: 1000px;
    position: absolute;
    top: 20px;
    background-image: url(../Home/Images/liquid18.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 550px 550px;
    left: -55px;
  }
  .download-container-title p {
    width: 229px;
  }

  .mobile__download-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: absolute;
  }
  .download-button {
    height: 164px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}
