

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.download {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.download-container {
  background: rgba(17, 17, 17, 0.77);
  width: 1042px;
  height: 380px;
  border-radius: 20px;
}

.liq18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 450px;
}
.liq18 img {
  height: 450px;
  z-index: 1;
}
.download-container p {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  color: white;
  margin-top: 6rem;
}
.download-button {
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.download__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
}
.btn__white {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  border-radius: 30px;
  gap: 16px;
}
.btn__black {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  border-radius: 30px;
  gap: 16px;
}
