* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.download {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  position: relative;
}
.download-container {
  background: rgba(68, 2, 57, 0.911);
  width: 1042px;
  height: 380px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  /* align-content: center; */
}
.download img {
  height: 700px;
  width: 700px;
  position: absolute;
  top: 0px;
  background-color: transparent;
  left: 350px;
  /* z-index: -1; */
}

.download-container-title {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  position: relative;
  color: white;
  margin-top: 6rem;
  /* bottom: 200px; */
  /* width: 100%; */
  /* left: -20px; */
}
.download-button {
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.download__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  position: absolute;
}
/* .btn__white {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  border-radius: 30px;
  gap: 16px;
}
.btn__black {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  border-radius: 30px;
  gap: 16px;
} */
