.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.faq__head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.faq__head h1 {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
}
.item {
  padding: 3rem 3rem 1rem 3rem;
  border-top: 0.5px solid #111111;
  /* width: 957px; */
  /* height: 109px; */
  /* background: blue; */
}
.accordion {
  margin-top: 4rem;
  /* height: 545px; */
  width: 957px;
  border-bottom: 0.5px solid #111111;
  margin-bottom: 4rem;
}
.title {
  /* padding: 2rem 0rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.title h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.content {
  max-height: 0;
  overflow: hidden;
  margin: 1rem 0rem;
  /* transition: all 0.5s cubic-bezier(0, 1, 0, 1); */
}
.content.show {
  height: auto;
  max-height: 9999px;
  /* transition: all 0.5s cubic-bezier(1, 0, 1, 0); */
  line-height: 1.5rem;
}
.faq__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq__btn-content {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  width: 10rem;
  background: #8003cd;
  border-radius: 30px;
  padding: 17px 30px;
  height: 55px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}


.faq-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 25px;
  width: 140px;
  height: 55px;
  background: #8003cd;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 676px) {
  .faq__head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
  }

  .faq__head h1 {
    width: 313px;
    height: 36px;

    font-family: "Recoleta Alt";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    /* Text colour */

    color: #111111;
  }
  .faq {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.3rem;
    /* height: 100vh; */
  }

  .title h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
  }

  .faq__btn-content {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    width: 10rem;
    background: #8003cd;
    border-radius: 30px;
    padding: 17px 30px;
    height: 55px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .item {
    padding: 2rem 2rem 0.5rem 2rem;
    border-top: 0.5px solid #111111;
    /* width: 957px; */
    /* height: 109px; */
    /* background: blue; */
  }
}
