* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.feature__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.feature-container {
  margin-top: 2rem;
  animation: fadeIn 0s forwards;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem 0rem;
  z-index: 1;
  position: absolute;
  top: 7rem;
  background-color: white;
  height: 513px;
  width: 1138px;
  height: 32rem;
  border-radius: 1.13rem;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.feature-content-1 h3,
.feature-content-2 h3 {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 117%;
  margin-bottom: 32px;
}
.feature-content-1 h4,
.feature-content-2 h4 {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 117%;
  color: var(--purple);
  margin-bottom: 8px;
}
.feature-content-1 p,
.feature-content-2 p {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: var(--light-gray);
  margin-bottom: 24px;
}
.feature-content-3 {
  background: #d9d9d9;
  mix-blend-mode: normal;
  border-radius: 16px;
  width: 417px;
  height: 301px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
  padding-left: 1.2rem;
  padding-top: 2.8rem;
}
/* .feature-content-3-img {
  width: 417px;
  height: 301px;
  position: relative;
  overflow: hidden;
  mix-blend-mode: normal;
  border-radius: 16px;
} */
.feature-content-3-img img {
  position: absolute;
  top: 60px;
  left: 160px;
  width: 350px;
  height: 350px;
  z-index: 10;
  mix-blend-mode: normal;
}
/* .get-started-ft-btn {
  background: red;
  border-radius: 30px;
  padding: 17px 30px;
  width: 140px;
  height: 55px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 220px;
  left: 150px;
  right: 0;
} */

.feature-content-3-text {
  /* position: absolute; */
  text-align: left;
  /* top: 0;
  bottom: 0;
  left: 19px;
  top: 46px; */
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 117%;
  color: white;
  /* width: 291px;
  height: 120px; */
}
.feature__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.3rem;
  z-index: 10;
}
.feature-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 25px;
  width: 140px;
  height: 55px;
  background: var(--purple);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
