* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  margin-top: 6.3rem;
}
.hero__container {
  /* padding-top: 5rem; */
  position: relative;
}
.pink {
  position: absolute;
  left: 82%;
  top: 0px;
}
.pink1 {
  position: absolute;
  left: 23%;
  top: 30%;
}
.purple {
  position: absolute;
  left: 80%;
  top: 80%;
}
.blue {
  position: absolute;
  left: 0px;
  top: 20%;
}
.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  /* padding: 0px; */
  /* gap: 24px; */
  /* position: absolute; */
  /* width: 708px; */
  /* height: 357px; */
  /* left: 423px;
  top: 50px; */
  /* background-color: blue; */
}

.hero__title-head {
  /* height: 262px; */
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  /* Text colour */
  color: var(--black);
  /* Inside auto layout */
  margin-top: 3rem;
}
.hero__title-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-top: 24px;
  color: var(--gray);
  width: 374px;
  height: 71px;
  margin-top: 1.5rem;
}
#purple {
  color: var(--purple);
}
.hero__download-button {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.download__button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  gap: 16px;
  width: 195px;
  height: 66px;
  border-radius: 30px;
}
.download__button-text {
  width: 100px;
  height: 32px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 117%;
  text-align: left;
}
@media screen and (max-width: 676px) {
  .hero {
    margin-top: 5rem;
  }

  .hero__container {
    height: 195px;
    position: relative;
  }

  .pink {
    width: 40px;
    position: absolute;
    left: 80%;
    top: 10px;
  }
  .pink1 {
    width: 10px;
    position: absolute;
    left: 23%;
    top: 23%;
  }
  .purple {
    width: 10px;
    position: absolute;
    left: 82%;
    top: 56%;
  }
  .blue {
    width: 35px;
    position: absolute;
    left: 0px;
    top: 12%;
  }

  .hero__title {
    padding-top: 0rem;
  }
  .hero__title-head {
    font-family: "Recoleta Alt";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;

    /* Text colour */

    color: var(--black);
    margin-top: 0rem;
  }

  .hero__title-text {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    /* or 229% */

    text-align: center;

    /* Text/var(--gray) */
    margin-top: 1rem;
    color: var(--gray);
  }

  .hero__download-button {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .mobile-download__button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    gap: 16px;

    width: 183px;
    height: 44px;

    /* Text colour */

    background: var(--black);
    border-radius: 30px;
  }
  .mobile-download__button-text {
    width: 83px;
    height: 28px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
  
  }
}
