@import url("https://fonts.cdnfonts.com/css/recoleta");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.features {
  /* background-color: red; */
  margin-top: 5rem;
}
.feature__1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 24px;
}
.feature__1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.feature__1-head {
  width: 390px;
  height: 120px;
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  /* or 60px */
  letter-spacing: -0.04em;
  /* Text colour */
  color: #111111;
}
.feature__1-body {
  width: 410px;
  height: 72px;
  left: 46px;
  top: 242px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  letter-spacing: -0.04em;
  /* Text colour */
  color: #111111;
}
.feature__1-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  gap: 10px;
  /* position: absolute; */
  width: 140px;
  height: 55px;
  left: 52px;
  top: 348px;
  /* Primary Colour */
  background: #8003cd;
  border-radius: 30px;
}
.feature__1-button p {
  width: 80px;
  height: 21px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  /* Gray / gray-1 */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.feature__1-image {
  width: 423px;
}
.feature__2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.feature__2-image {
  width: 473px;
  background: #d9e1f3;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feature__2-img {
  width: 373px;
}
.feature__2-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 410px;
  height: 104px;
}
.feature__2-body {
  width: 410px;
  height: 48px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  letter-spacing: -0.04em;
  /* Text colour */
  color: #111111;
}
.feature__2-head {
  width: 294px;
  height: 48px;
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  /* Text colour */
  color: #111111;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.feature__3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.feature__3-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 410px;
  height: 104px;
}
.feature__3-head {
  height: 48px;
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #111111;
}
.feature__3-body {
  height: 48px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  letter-spacing: -0.04em;
  /* Text colour */
  color: #111111;
}
.feature__3-image {
  background: #cfe5ee;
  border-radius: 24px;
  display: flex;
  height: 513px;
  /* width: 500px; */
  padding: 5rem 2rem 0rem 2rem;
  flex-direction: row;
  justify-content: center;
}
/* .feature__3-img {
  width: 0px;
} */

.feature__4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 483px;
}

.feature__4-img {
  width: 373px;
  height: 750px;
}
.feature__4-image {
  width: 497px;
  height: 483px;
  background: #e0f0e6;
  border-radius: 24px;
  display: flex;
  justify-content: center;
}

.feature__4-head {
  width: 260px;
  height: 48px;
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  /* Text colour */
  color: #111111;
  /* Inside auto layout */
}

.feature__4-body {
  width: 410px;
  height: 48px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: -0.04em;

  /* Text colour */

  color: #111111;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.feature__5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
  height: 483px;
  margin-bottom: 10rem;
}

.feature__5-head {
  width: 252px;
  height: 48px;

  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  /* Text colour */
  color: #111111;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.feature__5-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 410px;
  height: 104px;
}
.feature__5-body {
  width: 410px;
  height: 48px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  letter-spacing: -0.04em;
  /* Text colour */
  color: #111111;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.feature__5-img {
  width: 373px;
  height: 750px;
}
.feature__5-image {
  width: 497px;
  height: 483px;
  display: flex;
  justify-content: center;
  background: #f5efe8;
  border-radius: 24px;
}

.feature__video {
  height: 543px;
  background-image: url(../Home/Images//phone\ in-use1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.feature__video-content {
  width: 835px;
  height: 192px;
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.feature__video-button {
  font-size: 7rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
