.partners {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.partners__container {
  animation: fadeIn 0s forwards;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 0px;
  padding: 5rem 0rem;
  z-index: 1;
  position: absolute;
  top: 7rem;
  background-color: white;
  height: 513px;
  width: 1138px;
  border-radius: 2rem;
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.partners__content-1 h3,
.partners__content-2 h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 117%;
  margin-bottom: 32px;
}
.partners__content-1 h4,
.partners__content-2 h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 117%;
  color: var(--purple);
  margin-bottom: 8px;
}
.partners__content-1 p,
.partners__content-2 p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: var(--light-gray);
  margin-bottom: 24px;
}

.partners-content-3 {
  background: var(--black);
  mix-blend-mode: normal;
  border-radius: 16px;
  width: 417px;
  height: 301px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 1.2rem;
  padding-top: 2.8rem;
  position: relative;
  overflow: hidden;
}

.partners-content-3-img img {
  position: absolute;
  height: 250px;
  width: 300px;
  top: 115px;
  left: 155px;
  z-index: 10;
}
.partners-content-3-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 117%;
  color: white;
  width: 291px;
  height: 90px;
}
.partners__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  z-index: 10;
}
.partners__footer {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  /* identical to box height, or 28px */
  color: var(--white);
}
.partners-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 25px;
  width: 140px;
  height: 55px;
  background: var(--purple);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
