.contactUs__wrapper {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactUs__head {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #8c8c8c;
  margin-bottom: 3rem;
}
.contactUs__title {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  color: #111111;
  width: 637px;
  margin-bottom: 12rem;
}
.contactUs__form {
  display: flex;
  flex-direction: column;
  /* width: 25%; */
  padding: 3rem;
  border-radius: 24px;
  width: 594px;
  height: 699px;
  background-color: white;
}
.contactUs__form input {
  padding: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  border: none;
  width: 466px;
  height: 56px;
  margin-bottom: 3rem;
}
.contactUs__form label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  width: 100px;
  height: 19px;
  margin-bottom: 0.25rem;
}
.contactUs__btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactus-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 25px;
  width: 140px;
  height: 55px;
  background: #8003cd;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.textarea {
  height: 175px;
  width: 466px;
  resize: none;
  padding: 20px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  margin-bottom: 5rem;
}
@media screen and (max-width: 676px) {
  .contactUs__title {
    font-family: "Recoleta Alt";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #111111;
    width: 300px;
    background: red;
    margin-bottom: 4rem;
  }

  .contactUs__form {
    display: flex;
    flex-direction: column;
    /* width: 25%; */
    padding: 1rem;
    border-radius: 12px;
    width: 360px;
    height: 546px;

    background-color: white;
  }

  .contactUs__form input {
    padding: 0.5rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    border: none;
    width: 333px;
    height: 56px;
    margin-bottom: 3rem;
  }

  .contactUs__form label {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    width: 100px;
    height: 19px;
    margin-bottom: 0.25rem;
  }
  .textarea {
    width: 333px;
    height: 175px;
    background: #f5f5f5;
    border-radius: 8px;
    resize: none;
    margin-bottom: 4rem;
    padding: 1.5rem;
  }
}
