.contactUs__wrapper {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactUs__head {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #8c8c8c;
  margin-bottom: 3rem;
}
.contactUs__title {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  color: #111111;
  width: 637px;
  margin-bottom: 12rem;
}
.contactUs__form {
  display: flex;
  flex-direction: column;
  /* width: 25%; */
  padding: 3rem;
  border-radius: 24px;
  width: 594px;
  height: 699px;
  background-color: white;
}
.contactUs__form input {
  padding: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  border: none;
  width: 466px;
  height: 56px;
  margin-bottom: 3rem;
}
.contactUs__form label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  width: 100px;
  height: 19px;
  margin-bottom: 0.25rem;
}
.contactUs__btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
