.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.faq__head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.item {
  margin-bottom: 5px;
  padding: 2rem 2rem;
  border-top: 1px solid black;
}
.accordion {
  padding: 5rem 20rem;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  line-height: 1.5rem;
}
.faq__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq__btn-content {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  width: 10rem;
  background: #8003cd;
  border-radius: 30px;
  padding: 17px 30px;
  height: 55px;
  cursor: pointer;
}
