@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Manrope&family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FAQ {
  position: absolute;
  width: 1042px;
  height: 1808px;
  left: 199px;
  top: 4350px;
  background: #000;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 64px;
  background: red;
  position: absolute;
  width: 957px;
  height: 803px;
  /* left: 241px; */
  /* bottom: 1919px; */
}

.question__title {
  width: 626px;
  height: 72px;

  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  /* identical to box height, or 72px */

  /* Text colour */

  color: #111111;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.question__1 {
  box-sizing: border-box;

  width: 957px;
  height: 109px;

  /* Text colour */

  border-top: 0.5px solid #111111;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
