.footer1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15rem;
  height: 20rem;
  /* background-color: red; */
  align-content: center;
  padding-top: 5rem;
  /* width: 100%; */
  /* text-align: center; */
}
.products h4 {
  margin-bottom: 1rem;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.products h5 {
  margin-bottom: 0.5rem;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.resources h4 {
  margin-bottom: 1rem;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.resources h5 {
  margin-bottom: 0.5rem;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.company h4 {
  margin-bottom: 1rem;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.company h5 {
  margin-bottom: 0.5rem;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.ft-logo img {
  position: relative;
  /* width: 51px;
  height: 108px;
  left: 200px;
  top: -10px; */
  width: 61px;
  height: 138px;
  left: -60px;
  top: -36.44px;
}
.divider {
  position: relative;
  width: 1170px;
  height: 1px;
  left: 470px;
  top: 0px;
  border-top: 1px solid black;
  margin-bottom: 32px;
}
.footer2 {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 57px;
  gap: 520px;
  border-left: 20px;
}
.footer2-text {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
.icon {
  height: 18px;
  width: 18px;
}
.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}
.foot-note {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  /* width: 1250px; */
  height: 21px;
  margin: auto;
  /* background-color: red; */
  margin-bottom: 74px;
}
