* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer-1-container {
  /* background: red; */
  /* height: 50rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 20rem; */
  /* background-color: black; */
  /* position: absolute;
  width: 1440px;
  height: 593px;
  left: 0px;
  bottom: 0px; */
}
.ft-logo {
  width: 51.5px;
  height: 64.56px;
  /* margin-right: 150px; */
  /* background-color: aqua; */
}
.ft-logo img {
  position: relative;
  width: 51px;
  height: 108px;
  left: -240px;
  top: -10px;
  width: 61px;
  height: 138px;
  /* left: 40px; */
  top: -36.44px;
}
.footer-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  height: 20rem;
  /* background-color: blue; */
  align-content: center;
  padding-top: 5rem;
  width: 100%;
  /* text-align: center; */
}
.footer-1-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 198px;
}
.products h4 {
  margin-bottom: 1rem;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.products h5 {
  margin-bottom: 0.5rem;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.resources h4 {
  margin-bottom: 1rem;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.resources h5 {
  margin-bottom: 0.5rem;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.company h4 {
  margin-bottom: 1rem;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.company h5 {
  margin-bottom: 0.5rem;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.divider {
  align-items: center;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}
.divider > hr {
  width: 1100px;
  margin-right: 10rem;
  border: 2px solid black;
}

.footer2 {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 57px;
  /* gap: 520px; */
  /* border-left: 50px; */
}
.footer2-text {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: relative;
  left: -310px;
}
.icon {
  height: 18px;
  width: 18px;
}
.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  position: relative;
  right: -140px;
}
.foot-note {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  /* width: 1250px; */
  height: 21px;
  margin: auto;
  /* background-color: red; */
  margin-bottom: 74px;
  position: relative;
  left: -5rem;
}
