@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Manrope:wght@500&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Manrope&family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero__container {
  position: absolute;
  width: 1362px;
  height: 407px;
  left: -57px;
  top: 201px;
  /* background-color: red; */
}
.pink {
  position: absolute;
  width: 135px;
  height: 135px;
  left: 1227px;
  top: 0px;
}
.pink1 {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 373px;
  top: 100px;
}
.purple {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 373px;
  top: 100px;
}
.blue {
  position: absolute;
  width: 135px;
  height: 135px;
  left: 0px;
  top: 67px;
}
.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 708px;
  height: 357px;
  left: 423px;
  top: 50px;
  /* background-color: red; */
}

.hero__title-head {
  width: 708px;
  height: 262px;
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  /* Text colour */
  color: #111111;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.her__title-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-top: 24px;
}

.download-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 402px;
  height: 66px;
  left: 519px;
  top: 648px;
}
.white__button .bx {
  width: 24px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.white__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  gap: 16px;
  width: 185px;
  height: 66px;
  background: #ffffff;
  border-radius: 30px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.white__button-text {
  width: 85px;
  height: 32px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 117%;
  /* or 16px */
  /* Text colour */
  color: #111111;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.black__button .bx {
  color: white;
}
.black__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  gap: 16px;
  width: 185px;
  height: 66px;
  /* Text colour */
  background: #111111;
  border-radius: 30px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.black__button-text {
  width: 85px;
  height: 32px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 117%;
  /* or 16px */
  /* Gray / gray-1 */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
