@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Manrope:wght@700&family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 20rem; */
  /* background-color: black; */
  margin-top: 40px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  gap: 99px;
  position: relative;
  /* width: 1040.5px;
  height: 64.56px;
  left: 200px;
  top: 40px; */
}
.nav-logo {
  width: 51.5px;
  height: 64.56px;
  margin-right: 200px;
}

.nav-logo img {
  position: relative;
  width: 61px;
  height: 138px;
  left: -5.7px;
  top: -36.44px;
}
.nav-links {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.nav-links li {
  margin: 0px 30px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding: 20px 0;
}
.arrow-down {
  position: relative;
  left: 4%;
  /* right: 17%; */
  top: 15%;
  /* bottom: 25%; */
  /* border: 1.5px solid #292D32 */
}
.get-started-btn {
  background: #8003cd;
  border-radius: 30px;
  padding: 17px 30px;
  width: 140px;
  height: 55px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 112px;
}
