:root{
  --purple: #7E1F86;
  --black:#111111;
  --light-gray:#8C8C8C;
  --gray:#333333;
  --pink:#fef9fe;
  --white:#ffffff;

}

@font-face {
  font-family: "Recoleta Alt";
  src: url(./Components/fonts/Recoleta/RecoletaAlt-Bold.ttf);
}

@font-face {
  font-family: "Satoshi";
  src: url(./Components/fonts/Satoshi/Satoshi-Regular.ttf);
}

.App {
  background-color: var(--pink);
  /* background: red; */
font-family: "Satoshi";

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 778px) {
.opacity{
  /* opacity: 0.05; */
}

}
