@font-face {
  font-family: "Recoleta Alt";
  src: url(./Components/fonts/recoleta-font/RecoletaAlt-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(./Components/fonts/Manrope/Manrope-Light.woff);
}

.App {
  background-color: #fef9fe;
  /* background: red; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
